* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body {
	font-family: Dosis, sans-serif;
	font-size: 15px;
	line-height: 1.4em;
	color: #5d5d5d;
	background: #fff;
	background: -webkit-linear-gradient(left, #125c69 0%, #125c69 50%, #fff 50%, #fff 100%);
	background: -o-linear-gradient(left, #125c69 0%, #125c69 50%, #fff 50%, #fff 100%);
	background: linear-gradient(to right, #125c69 0%, #125c69 50%, #fff 50%, #fff 100%);
	background-repeat: no-repeat;
}

h1, h2, h3, h4, h5, h6 {
	color: #a9d039 /*#60a649*/;
	font-weight: 700;
}

a,
a:visited {
	color: #a9d039 /*#60a649*/;
	text-decoration: underline;
	font-weight: 700;
}

a:hover {
	text-decoration: underline;
}

.container {
	width: 100%;
	max-width: 968px;
	min-height: 100vh;
	margin: 0px auto;
	display: -ms-grid;
	display: grid;
	grid-template-columns: 260px auto;
	grid-template-rows: auto;
	grid-template-areas:
		". main"
		". footer";
	grid-gap: 0px 15px;
	background:#fff;
}

#header {
	position: fixed;
	width: 260px;
	height: 100%;
	display: -ms-grid;
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: auto;
	grid-template-areas:
		"header"
		"nav";
	grid-gap: 15px 0px;
	color: #fff;
	background: #125c69;
	border-right: 1px solid #f5f5f5;
}

#header hgroup {
	grid-area: header;
	padding: 30px 15px 15px;
}

#header a,
#header a:visited {
	color: #fff;
	text-decoration: none;
	font-weight: normal;
}

#header a:hover {
	text-decoration: underline;
}

#header .emergo-brand {
	display: inline-block;
	display: none;
	width: 100%;
	text-align: center;
}

#header .emergo-brand .emergo-logo {
	width: 120px;
}

#page-title {
	margin: 0px 0px 40px;
	font-size: 1.5em;
	width: 100%;
	color: #fff;
}

#page-title ~ span {
	display: block;
	margin: 15px 0px 5px;
}

#extension-title {
	font-weight: bold;
}

#navigation {
	grid-area: nav;
	padding: 0px 15px 15px;
	overflow-x: hidden;
	overflow-y: auto;
	counter-reset: h2;
}

#navigation ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

#navigation li {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin: 6px 0px;
}

#navigation li.level-2 {
	margin-top: 12px;
}

#navigation li.level-3 {
	margin-left: 8px;
}

#navigation li.level-4 {
	margin-left: 16px;
}

#navigation li.level-5 {
	margin-left: 24px;
}

#navigation li.level-6 {
	margin-left: 32px;
}

#content {
	grid-area: main;
	counter-reset: h2;
	padding: 15px;
}

#content,
#footer {
	min-width: 0;
	padding-left: 40px;
}

#content h2 {
	margin: 30px 0px 12px;
}

#content h3,
#content p,
#content pre {
	margin: 15px 0px 8px;
}

#content h4,
#content h5,
#content h6 {
	margin: 15px 0px 8px 12px;
}

#content ul,
#content ol {
	margin: 8px 0px;
	padding: 0px 0px 0px 30px;
}

#content li {
	margin-bottom: 5px;
}

#content h2,
#navigation li.level-2 {
	counter-increment: h2;
	counter-reset: h3;
}

#content h3,
#navigation li.level-3 {
	counter-increment: h3;
}

body:not(.error-file-not-found) #content h2:before,
#navigation li.level-2:before {
	content: counter(h2) ". ";
}

body:not(.error-file-not-found) #content h3:before,
#navigation li.level-3:before {
	content: counter(h2) "." counter(h3) ". ";
}

#content pre {
	font-family: monospace;
	font-size: 13px;
	background: #f4f4f4;
	padding: 15px 20px;
	white-space: pre;
	overflow-x: auto;
}

#content :not(pre) code {
	padding: 10px;
	font-family: monospace;
	font-size: 13px;
	background: #f4f4f4;
	border: 1px solid #f4f4f4;
	padding: 0px 2px;
}

#footer {
	grid-area: footer;
	padding: 0px 15px 15px;
}

#footer-nav {
	border-top: 1px solid #125c69;
	display: -ms-grid;
	display: grid;
	grid-template-columns: 3fr 5fr;
	grid-template-rows: auto;
	grid-template-areas: "footer-left footer-right";
	grid-gap: 30px;
	padding: 25px 0px 15px;
}

#footer-nav .logo {
	grid-area: footer-left;
}

#footer-nav .logo .emergo-logo {
	width: 80px;
}

#footer-nav .social {
	grid-area: footer-right;
	text-align: right;
}

#footer-content {
	font-style: italic;
	padding-bottom: 10px;
}
